body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc-addWorkOrder-button {
  width: 100px;
}

.fc-timeGridDay-button {
  width: 100px;
}

button:disabled {
  background-color: #1B252E !important
}

select {
  background-color: white !important;
}

input {
  background-color: white !important;
}

textarea {
  background-color: white !important;
}

#root {
  background-color: #E0FBFC;

}